<section id="services" class="services section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Services</h2>
    <p>What does Fans Derby serve for you?</p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas fa-chart-line"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Matches Analysis</h3>
          </a>
          <p>Analysis of the matches and the results of the matches.</p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas fa-broadcast-tower"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Live Streaming</h3>
          </a>
          <p>Live streaming of the matches and the results of the matches.</p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas fa-chalkboard"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Follow Your Team</h3>
          </a>
          <p>
            Follow your team on the matches and the results of the matches and
            more about your team.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Voting</h3>
          </a>
          <p>
            Vote for the best players and the best teams and more about the
            matches and the results of the matches.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas fa-calendar-week"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Upcoming Matches</h3>
          </a>
          <p>
            Upcoming matches and the results of the matches and more about the
            matches and the results of the matches.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas fa-paper-plane"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Make Post</h3>
          </a>
          <p>
            Make posts about the matches and the results of the matches and more
            about the matches and the results of the matches.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Services Section -->
